<div class="row gx-4 justify-content-center">
  <div class="col-6">
    <div class="card">
      <img src="https://i.imgur.com/8vY5t38.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Weekly Cup 28 周參賽紀錄</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card my-5">
      <img src="https://i.imgur.com/8vY5t38.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Weekly Cup 28 周參賽紀錄</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <img src="https://cravatar.eu/helmavatar/3ef00017-d2b8-4bab-a340-c6fb393713c5/64" class="me-4">
          </div>
          <div class="my-auto">
            <h5 class="card-title">歡迎回來: LU__LU</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        個人資料
      </div>
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        報名本週 Weekly Cup
      </div>
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">贊助</div>
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      </div>
<!--      <a href="https://dragonshop.org/product/mcwonderland/">-->
<!--        <img src="assets/img/mouse-pad.png" class="card-img-bottom" alt="...">-->
<!--      </a>-->
    </div>

    <div class="card mt-4">
      <div class="card-header">社群平台</div>
      <div class="card-body">
        <div class="card-text">
          <iframe
            src="https://discord.com/widget?id=574167124579319809&theme=dark"
            width="100%"
            height="600"
            allowtransparency="true"
            frameborder="0"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
          </iframe>
        </div>

      </div>
    </div>
  </div>
</div>
