<div class="container-fluid" *ngIf="gameRecord">
  <app-stats-hero [gameRecord]="gameRecord"></app-stats-hero>
  <div class="section-break"></div>
  <app-game-stages [gameRecord]="gameRecord"></app-game-stages>
  <div class="section-break"></div>

  <h1 class="text-center">團隊數據</h1>

  <div *ngFor="let color of teamStatsOrder">
    <div *ngIf="findTeamStats(color)" class="mt-5">
      <app-team-stats *ngIf="findTeamStats(color)" [teamStats]="findTeamStats(color)!"
        [gameRecord]="gameRecord"></app-team-stats>
    </div>
  </div>

  <div class="section-break"></div>
  <app-team-compare
    [gameRecord]="gameRecord"
    [leftTeamColor]="'RED'"
    [rightTeamColor]="'BLUE'"
  >
  </app-team-compare>

  <div class="section-break"></div>
  <h1 class="text-center mb-4">影片</h1>

  <div class="video-container">
    <iframe width="560" height="315" [src]="url" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


</div>
